.MovieListWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 140px;

  @media only screen and (max-width: 599px) {
    margin-top: 100px;
  }
  .Link {
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
}
