.MovieCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 10px;
  min-height: 190px;
  color: #ffffff;

  @media (min-width: 1024px) {
    max-height: 450px;
  }
  margin: 12px 0;

  .movieImageWrapper {
    width: 100%;
    .movieImage {
      width: 100%;

      /* @media (min-width: 1024px) {
        max-height: 250px;
      } */
    }
  }

  .movieInfo {
    margin-top: 20px;
    min-height: 100px;
    width: 100%;

    .movieTitleWrapper {
      min-height: 50px;

      .movieTitle {
        font-size: 1.5rem;
        font-weight: 700;
        @media (min-width: 1024px) {
          font-size: 1rem !important;
        }
      }
    }

    .movieRatingWrapper {
      min-height: 20px;
      margin-top: 10px;
      @media (min-width: 1024px) {
        font-size: 10px;
      }
    }
  }
}
