.SuggestionWrapper {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 1rem;
  margin-top: 6px;
  height: 200px;
  overflow: scroll;
  -webkit-box-shadow: 5px 5px 0px 0px #000000;
  box-shadow: 5px 5px 0px 0px #000000;
  border: 2px solid #000000;
  z-index: 1;

  a {
    color: #000000;
  }
}
